body{
	background-color: blue;
	margin-top: 5%;
}

h1{
	margin-bottom: 5px;
	margin-top: 10px;
	font-family: helvetica;
	font-size: 50px;
	color: white;
	text-shadow: #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px,
             #000 0px 0px 2px,   #000 0px 0px 2px,   #000 0px 0px 2px;
}

.container-board{
	background: red;
	margin-left: 5%;
	text-align: center;
	height: 690px;
	width: 690px;
	border: 4px solid black;
	border-radius: 50px;
	box-shadow: 0 0 10pt .5pt black;

}

#col0{
	margin-left: 5px;
}
.column{
	position: relative;
	float: left;
}

.spot{
	text-align: center;
	font-size: 30px;
	width: 70px;
	height: 70px;
	background: white;
	border: 2px solid black;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	border-radius: 45px;
	box-shadow: 0 0 10pt .5pt black;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	margin: 20px 0px 0px 20px;
  	color: white;
}
.spot:hover{
	background: gray;
}
.container-players {
	background: white;
	text-align: center;
	height: 200px;
	width: 200px;
	border: 4px solid black;
	border-radius: 50px;
	box-shadow: 0 0 10pt .5pt black;
	float: right;
}
